<!--The content below is only a placeholder and can be replaced.-->
<div class="main-content">
  <h1>
    Welcome to Mensajeros Ubarnos!
  </h1>
  <div class="loader" *ngIf="loaded">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
  </div>
  <div class="pagination">
    <button type="button" (click)="prevPage()" class="btn">Anterior página</button>
    <button type="button" (click)="nextPage()" class="btn">Siguiente página</button>
  </div>
  <div class="row">
    <div class="card" *ngFor="let item of items">
      <img [src]="item.image">
      <div class="card-title">
        <h3>{{item.name}}</h3>
        <p>{{item.species}}</p>
      </div>
    </div>
  </div>

</div>